p {
  color: #fff;
  font-family: calibri;
  font-size: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #fff;
  font-family: tahoma;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
  font-weight: 500;
}

hr {
  border-color: rgba(20, 57, 128, 0.1);
}

thead {
  background-color: rgb(228 240 245);
}

.container-01 {
  height: 90%;
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: rgba(20, 57, 128, 0.6);
}

.line-ttl {
  background-color: rgba(20, 57, 128, 0.6);
  border: 1px solid #fff;
  padding: 15px;
  color: #fff;
  text-align: left;
}

.line-col-ttl {
  background-color: rgba(20, 57, 128, 0.1);
  border: 1px solid #fff;
  padding: 15px;
  text-align: left;
  font-weight: normal;
}

.table-container {
  max-height: 500px; 
  overflow-y: auto; 
  overflow-x: auto; 
}

td {
  border: 1px solid #fff;
  padding: 15px;
  text-align: center;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

.respo {
  margin: 20px 20px 0px 20px;
  padding: 20px;
  justify-items: center;
  background-color: rgb(30, 79, 255);
  border-radius: 8px;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
}

.missao,
.visao {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  justify-items: center;
  color: white;
}

.missao {
  margin-right: 20px;
  margin-left: 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #006594;
}

.visao {
  margin-left: 20px;
  margin-right: 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #008c62;
}

.container-box-color-01 {
  width: 100%;
  margin: 0px 20px;
  padding: 15px;
  background-color: rgba(20, 57, 128, 0.8);
  border-radius: 8px;
}

.container-box-color-02 {
  width: 100%;
  margin: 0px 20px;
  padding: 15px;
  background-color: rgba(238, 33, 46, 0.8);
  border-radius: 8px;
}

.container-box-color-03 {
  width: 100%;
  margin: 0px 20px;
  padding: 15px;
  background-color: rgba(20, 57, 128, 0.8);
  border-radius: 8px;
}

.container-lst-pross-01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-gover-text {
  color: #fff;
  font-family: calibri;
  font-size: 24px;
  text-shadow: 2px 2px 5px #000;
  text-align: center;
  line-height: 1px;
}

.section-text {
  color: #fff;
  font-family: calibri;
  font-size: 24px;
  text-shadow: 2px 2px 5px #000;
  text-align: center;
}

.final {
  margin: 0px 20px 20px 20px;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(117, 65, 202, 0.8);
  justify-items: center;
  gap: 20px;
}
.cont-final1 {
  width: 100%;
  justify-items: center;
}

.cont-final2 {
  width: 100%;
  justify-items: center;
}

.container-box {
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 5px;
}

.container-btn-01 {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  margin: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-decoration: none;
  font-family: tahoma;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.container-box-01 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.container-box-01:target {
  display: flex;
  border: none;
}

.container-box-content {
  width: 60%;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  color: #333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 3px 3px 6px #000;
  font-size: 12px;
  font-family: tahoma;
  transition: 0.1s;
}

.container-btn-01 {
  background-color: #fffff993;
  color: #444;
  transition: 0.2s;
  font-size: 18px;
  font-family: Calibri;
  font-weight: 600;
}

.container-btn-01:hover {
  background-color: #88888850;
  color: #fff;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.4);
}

.container-btn-close {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: -20px;
}

.btn-c-01 {
  transition: 0.2s;
  background-color: red;
  color: #fff;
  margin: 3px;
  padding: 3px 8px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.btn-c-01::before {
  content: "X";
  transform: translateY(-0.1rem);
}

.container-triangulo {
  display: flex;
  justify-content: center;
}

.container-triangulo-01 {
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 25px solid rgba(20, 57, 128, 0.8);
  margin-bottom: 8px;
}

.container-triangulo-02 {
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 25px solid rgba(20, 57, 128, 0.8);
  margin-top: 8px;
}

.container-triangulo-03 {
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 25px solid rgb(30, 79, 255);
  margin-bottom: 8px;
}

@media (max-width: 500px) {
  .container-box-content {
    width: 60%;
    min-height: 400px;
    position: absolute;
    color: #333;
    padding: 15px;
  }

  .container-box-01 {
    position: static;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    margin-top: 30%;
    margin-left: -20%;
    width: 100%;
    height: 100%;
  }

  .container-btn-01 {
    font-size: 14px;
  }
  .container-box {
    width: 90%;
  }
  #modelagem-largura {
    width: 30px;
  }
}
